/**
* Custom Css for backend 
* 
*/
#ecommerce-market-img-container li{
	padding: 3px;
}
#ecommerce-market-img-container .ecommerce-market-radio-img-selected{
	border: 3px solid #bcbcbc;
	padding: 1px;
	width: 16%;
}